.footer {
    padding: 20px 0;
    border-top: 1px solid var(--border-color-light);

    &__buttons {
        display: flex;
        justify-content: center;
        gap: 30px;

        & button {
            font-size: 18px;
        }
        & img {
            display: inline-block;
            vertical-align: -10px;
            margin-right: 5px;
        }
    }

    &__button-continue {
        background-color: #EDF0F8;
        border: none;
    }

    &__button-calc {
        background-color: transparent;
        border: 1px solid var(--border-color-light);
    }

    &__button-request {
        color: var(--light-color);
        background-color: var(--main-color);
        border: none;
    }
}