.footer {
    padding: 20px;
    border-top: 1px solid var(--border-color-light);
    position: fixed;
    z-index: 100;
    left: 0;
    bottom: 0vh;
    width: 100%;
    background-color: var(--light-color);

    &__buttons {
        display: flex;
        justify-content: center;
        gap: 30px;

        & button {
            font-size: 18px;
        }
        & img {
            display: inline-block;
            vertical-align: -10px;
            margin-right: 5px;
        }
    }

    &__button-continue {
        background-color: #EDF0F8;
        border: none;
    }

    &__button-calc {
        background-color: transparent;
        border: 1px solid var(--border-color-light);
    }

    &__button-request {
        color: var(--light-color);
        background-color: var(--main-color);
        border: none;
    }
}

@media screen and (max-width: 1230px) {
    .footer {
        position: static;
    
        &__buttons {
            gap: 15px;
    
            & button {
                font-size: 16px;
            }
            & img {
                width: 25px;
                vertical-align: -7px;
            }
        }
    }    
}

@media screen and (max-width: 767px) {
    .footer {
        border: none;
        padding-top: 0;

        &__buttons {
            flex-direction: column;
            align-items: center;
            gap: 30px;

            & button {
                width: 260px;
            }
        }
    }
}