.chat-button {
    position: absolute;
    z-index: 150;
    right: 80px;
    bottom: 50px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: none;
    background-color: var(--main-color);
    padding: 0 23px;
    cursor: pointer;
}

@media screen and (max-width: 1230px) {
    .chat-button {
        right: 40px;
        bottom: 120px;
    }
}

@media screen and (max-width: 767px) {
    .chat-button {
        display: none;
    }
}